{% extends 'Blog/loginbase.html' %}
{% load static %}
{% block css %}
<style>
  body {
    color: grey;
  }

  ul {
    font-size: 11px;
    padding: 10px 0;
  }

  .helptext {
    font-size: 11px;
  }

  .errorlist {
    color: red;
  }

  label {
    font-size: 1.1rem;
    margin-top: 15px;
  }

  input,
  input:focus {
    border-bottom: 2px solid grey !important;
    width: 100%;
    height: 40px;

  }
</style>
{% endblock %}
{% block body %}


<form action="{% url 'Changepwd' %}" method="POST" class="login100-form validate-form">
  {% csrf_token %}
  <span class="login100-form-title p-b-26">
    Change Password
  </span>
  <span class="login100-form-title p-b-48">
    <a href="{% url 'Home' %}"><img src="{% static 'Blog/favicons/apple-touch-icon.png' %}" width="50" height="50"
        alt="logo"></a>
  </span>
  {{form.as_p}}
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button type='submit' class="login100-form-btn">
        Change
      </button>
    </div>
  </div>

</form>

{% endblock %}