{% extends 'Blog/loginbase.html' %}
{% load static %}
{% block css %}
<style>
    .p-t-115 {
        padding-top: 0px;
    }
</style>
{% endblock %}
{% block body %}

<div class="text-center p-t-115">
    <span class="login100-form-title p-b-48">
        <a href="{% url 'Home' %}"><img src="{% static 'Blog/favicons/apple-touch-icon.png' %}" width="50" height="50"
                alt="logo"></a>
    </span>
    <span class="txt1">
        Your password has been set.You may go ahead and log in now.
        <a href="{% url 'Signin' %}">Log in</a>

    </span>
</div>


{% endblock %}