{% extends 'Blog/loginbase.html' %}
{% load static %}
{% block css %}
<style>
    .p-t-115 {
        padding-top: 0px;
    }
</style>
{% endblock %}
{% block body %}



<span class="login100-form-title p-b-26">
    Email Sent!
</span>
<div class="text-center p-t-115">
    <span class="login100-form-title p-b-48">
        <a href="{% url 'Home' %}"><img src="{% static 'Blog/favicons/apple-touch-icon.png' %}" width="50" height="50"
                alt="logo"></a>
    </span>
    <span class="txt1">
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.<br>

        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.
    </span>
</div>


{% endblock %}