{% extends 'Blog/loginbase.html' %}
{% load static %}
{% block body %}


<form method="POST" class="login100-form validate-form">
  {% csrf_token %}
  <span class="login100-form-title p-b-26">
    Password Reset
  </span>
  <span class="login100-form-title p-b-48">
    <a href="{% url 'Home' %}"><img src="{% static 'Blog/favicons/apple-touch-icon.png' %}" width="50" height="50"
        alt="logo"></a>
  </span>
  <div class="wrap-input100">
    <input class="input100" type="email" name="email" required>
    <span class="focus-input100" data-placeholder="Email"></span>
  </div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button type='submit' class="login100-form-btn">
        Send
      </button>
    </div>
  </div>

</form>

{% endblock %}